body {
    background: rgb(70, 142, 236);
    font: normal 11pt Arial
}
header {
    color: white;
    text-align: center
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}
footer {
color: white;
text-align: center;
font-style: italic;


}
div {
    text-align: center;
    padding: 20px;
    font: medium 12pt Arial 
}
div#foto {
    width: auto;
    background: black
}